{% extends 'base.twig' %}
{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-3">
                {% include '_include/menu.twig' %}
            </div>
            <div class="col-9">
                <h1>Informace</h1>
                <div><p style="margin-left: 40px;"><b>LOGOS POLYTECHNIKOS je vysokoškolský odborný recenzovaný
                            časopis</b><br>,
                        který slouží pro publikační aktivity akademických pracovníků Vysoké školy polytechnické
                        Jihlava i jiných vysokých škol,<br>
                        univerzit a výzkumných organizací. Je veden na seznamu recenzovaných odborných a vědeckých
                        časopisů <b>ERIH PLUS</b> - European<br>
                        Reference Index for the Humanities and the Social Sciences
                        (<a target="_blank"
                            href="https://dbh.nsd.uib.no/publiseringskanaler/erihplus/periodical/info?id=488187">https://dbh.nsd.uib.no/publiseringskanaler/erihplus/periodical/info?id=488187</a>).
                    </p></div>
                <div><p style="margin-left: 40px;">Od roku 2010 do roku 2018 byl časopis vydáván čtyřikrát ročně v
                        elektronické a tištěné podobě. Od roku 2019 vychází třikrát <br>
                        ročně v elektronické verzi. Redakční rada časopisu sestává z interních i externích
                        odborníků. Funkci šéfredaktora zastává prorektor <br>
                        pro tvůrčí a projektovou činnost Vysoké školy polytechnické Jihlava. Funkce odpovědných
                        redaktorů jednotlivých čísel přísluší <br>
                        vedoucím kateder Vysoké školy polytechnické Jihlava. Veškeré vydávané příspěvky prochází
                        recenzním řízením a jsou pečlivě <br>
                        redigovány.</p></div>
                <div><p style="margin-left: 40px;"><b>Tematické a obsahové zaměření časopisu</b> reflektuje potřeby
                        oborových kateder Vysoké školy polytechnické Jihlava.<br>
                        Na základě souhlasu odpovědného redaktora mohou katedry poskytnout publikační prostor i
                        odborníkům bez zaměstnanecké vazby k Vysoké <br>
                        škole polytechnické Jihlava.</p></div>
                <div><p style="margin-left: 40px;"><b>V časopise je možné publikovat</b> odborné články, statě,
                        přehledové studie, recenze a další typy odborných příspěvků <br>
                        v českém, slovenském a anglickém jazyce. Do recenzního řízení jsou přijímány příspěvky
                        tematicky odpovídající zaměření <br>
                        časopisu a formálně upravené dle redakční šablony.</p></div>
                <br><br>
            </div>
        </div>

    </div>
{% endblock %}
