{% extends 'base.twig' %}
{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-3">
                {% include '_include/menu.twig' %}
            </div>
            <div class="col-9">

                {% if user is defined and user %}
                {% if user.getRole() =='autor' %}
                    <h1>Moje Články</h1>

                    budou zde
                {% endif %}
                {% else %}

                <h1>Informace</h1>
                <div><b>LOGOS POLYTECHNIKOS je vysokoškolský odborný recenzovaný časopis</b>,
                který slouží pro publikační aktivity akademických pracovníků Vysoké školy polytechnické Jihlava i jiných vysokých škol,
                univerzit a výzkumných organizací. Je veden na seznamu recenzovaných odborných a vědeckých časopisů <b>ERIH PLUS</b> - European
                Reference Index for the Humanities and the Social Sciences
                (https://dbh.nsd.uib.no/publiseringskanaler/erihplus/periodical/info?id=488187).</div>
                <br><br>
                <div>Od roku 2010 do roku 2018 byl časopis vydáván čtyřikrát ročně v elektronické a tištěné podobě. Od roku 2019 vychází třikrát 
                ročně v elektronické verzi. Redakční rada časopisu sestává z interních i externích odborníků. Funkci šéfredaktora zastává prorektor
                pro tvůrčí a projektovou činnost Vysoké školy polytechnické Jihlava. Funkce odpovědných redaktorů jednotlivých čísel přísluší
                vedoucím kateder Vysoké školy polytechnické Jihlava. Veškeré vydávané příspěvky prochází recenzním řízením a jsou pečlivě
                redigovány.</div>
                <br><br>
                <div><b>Tematické a obsahové zaměření časopisu</b> reflektuje potřeby oborových kateder Vysoké školy polytechnické Jihlava.
                Na základě souhlasu odpovědného redaktora mohou katedry poskytnout publikační prostor i odborníkům bez zaměstnanecké vazby k Vysoké
                škole polytechnické Jihlava.</div>
                <div><b>V časopise je možné publikovat</b> odborné články, statě, přehledové studie, recenze a další typy odborných příspěvků
                v českém, slovenském a anglickém jazyce. Do recenzního řízení jsou přijímány příspěvky tematicky odpovídající zaměření
                časopisu a formálně upravené dle redakční šablony.</div>
                <br><br>
                {% endif %}
            </div>
        </div>

    </div>


{% endblock %}
