{% extends 'base.twig' %}



{% block body %}

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="row" style="text-align: center">
                <div class="col-12" style="margin-top:120px">
                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12" style="text-align: center;border: #959595 solid 3px">
                    <h3>Autoři</h3>
                    autor@rsp.vspj  /  heslo123
                    <h3>Redaktor</h3>
                    redaktor@rsp.vspj / heslo321
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>



{% endblock %}