{% extends 'base.twig' %}
{% block body %}


    <div class="content">
        <div class="row">
            <div class="col-3">
                {% include '_include/menu.twig' %}
            </div>
            <div class="col-9">
                <div class="mb-4">
                    <div class="text-center"><h1>Aktuální ročník/číslo časopisu</h1></div>
                    <div class="mb-3 archive-item">
                        <div class="row">
                            <div class="col-3"><a href="https://www.vspj.cz/soubory/download/id/7354">Ročník 10 - Číslo
                                    1</a></div>
                            <div class="col-3"><a href="https://www.vspj.cz/soubory/download/id/7454">Ročník 10 - Číslo
                                    2</a></div>
                            <div class="col-3"></div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center"><h1>Archiv</h1></div>
                <div class="mb-3 archive-item">
                    <h3>2018</h3>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/6942">Ročník 9 - Číslo 1</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/6914">Ročník 9 - Číslo 2</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/7192">Ročník 9 - Číslo 3</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/7408">Ročník 9 - Číslo 4</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 archive-item">
                    <h3>2017</h3>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5966">Ročník 8 - Číslo 1</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/6130">Ročník 8 - Číslo 2</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/6282">Ročník 8 - Číslo 3</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/6564">Ročník 8 - Číslo 4</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 archive-item">
                    <h3>2016</h3>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5087">Ročník 7 - Číslo 1</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5303">Ročník 7 - Číslo 2</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/6027">Ročník 7 - Číslo 3</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5711">Ročník 7 - Číslo 4</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 archive-item">
                    <h3>2015</h3>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5083">Ročník 6 - Číslo 1</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5084">Ročník 6 - Číslo 2</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5085">Ročník 6 - Číslo 3</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5086">Ročník 6 - Číslo 4</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 archive-item">
                    <h3>2014</h3>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5079">Ročník 5 - Číslo 1</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5080">Ročník 5 - Číslo 2</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5081">Ročník 5 - Číslo 3</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5082">Ročník 5 - Číslo 4</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 archive-item">
                    <h3>2013</h3>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5075">Ročník 4 - Číslo 1</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5076">Ročník 4 - Číslo 2</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5077">Ročník 4 - Číslo 3</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5078">Ročník 4 - Číslo 4</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 archive-item">
                    <h3>2012</h3>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5071">Ročník 3 - Číslo 1</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5072">Ročník 3 - Číslo 2</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5121">Ročník 3 - Číslo 3</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5074">Ročník 3 - Číslo 4</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 archive-item">
                    <h3>2011</h3>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5067">Ročník 2 - Číslo 1</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5068">Ročník 2 - Číslo 2</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5069">Ročník 2 - Číslo 3</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5070">Ročník 2 - Číslo 4</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 archive-item">
                    <h3>2010</h3>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5063">Ročník 1 - Číslo 1</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5064">Ročník 1 - Číslo 2</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5065">Ročník 1 - Číslo 3</a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.vspj.cz/soubory/download/id/5066">Ročník 1 - Číslo 4</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}